*__pycache__

# Skipping Datasets
/DeepFashion/data
/DeepFashion/img
/Shoe Classification/data
/Shoe Classification/train
/Shoe Classification/test
/SimpleHTR/data
/LineHTR/data
*.txt
*.zip
*.pk

# Model Skipping
*.h5
/LineHTR/model

# Logs Skipped
*logs