*__pycache__

# Skipping Datasets
/DeepFashion/data
/DeepFashion/img
/Shoe Classification/data
/Shoe Classification/train
/Shoe Classification/test
/SimpleHTR/data
*.txt
*.zip
*.pk

# Model Skipping
*.h5